* {box-sizing: border-box;}

/***   MOBILE FIRST   ***/
[class*="col-"] {
    width: 100%;
}

body{
	margin: 0;
	background-color: #F6F6F6;
}

header{
	position: fixed;
	height: 55px;
	background-color: #FFFFFF;
	color: black;
	text-align: center;
	font-family: gotLight;
	font-size:180%;
	border-bottom: 1px solid black;
	background-size: 25% 50%;
	-webkit-box-shadow: 0px 3px 9px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 3px 9px 1px rgba(0,0,0,0.75);
	box-shadow: 0px 3px 9px 1px rgba(0,0,0,0.75);
}
#logo{
	padding:11px 0 0 25px;
	margin:0;
	display: inline-block;
}
/***   MOBILE FIRST   ***/

/***   Desktop    ***/
@media only screen and (min-width: 950px){
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}
	
	[class*="col-"] {
	    float: left;
	    padding: 1px;
	    /*border: 1px solid red;*/
	}

	header{
		position: fixed;
		height: 95px;
		background-color: #FFFFFF;
		color: black;
		font-family: gotLight;
		padding-left: 100px;
		font-size:290%;
		padding: 15px;
		border-bottom: 1px solid black;
		background-size: 25% 50%;
		-webkit-box-shadow: 0px 3px 9px 1px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 3px 9px 1px rgba(0,0,0,0.75);
		box-shadow: 0px 3px 9px 1px rgba(0,0,0,0.75);
	}

	#logo{
		padding: 20px 175px;
	}

	#content{
		padding-top: 95px;
	}

	#msgBox{
		display: none;
	}

	#info{
		display: initial;
	}
}
/***   Desktop    ***/

h3{
	color: #AEA56F;
}
footer{
	background-color: #6E6E6E;
	height: 95px;
	color: white;
}
img {
    width: 100%;
    height: auto;
    margin: 0;
    padding:0;
    /*border: 1px solid red;*/
}
.contact{
	position:relative;
	top: 15px;
}
.contact img{
	width: 15%;
    height: 50px;
    display: inline-block;
}
.contact p{
	display: inline-block;
	overflow: hidden;
    font-family: gotMedium;
    font-size: 64%;
}

#contactText{
	margin: 5px;
	height: 284px;
    width: 85%;
    padding:5px;
}
.msgBox{
	height: 180px;
	background-color: white;
}


.row:after {
    content: "";
    clear: both;
    display: block;
}


/***** FONTS *****/
@font-face{
    font-family: gotMedium;
    src: url(fonts/GothamRounded-Medium.otf);
}

@font-face{
    font-family: gotLight;
    src: url(fonts/GothamRounded-Light.otf);
}

/***** FONTS *****/