* {box-sizing: border-box;}

[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 1300px){
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}
	[class*="col-"] {
	    float: left;
	    padding: 15px;
	    /*
	    border: 1px solid red;
	    */
	}
}


.row:after {
    content: "";
    clear: both;
    display: block;
}

.inputs{
	width:47%;
	padding:4px;
	margin:4px;
}
body{
	margin: 0;
	background: #fff url(/image/fondo1.gif) center -20px no-repeat;
}
header{
	position: fixed;
	height: 95px;
	background-color: #FFFFFF;
	color: white;
	font-size:80%;
	padding: 15px;
	border-bottom: 1px solid black;
	background: #fff url(/image/logo1.png) 15px no-repeat;
	background-size: 25% 50%;
	-webkit-box-shadow: 0px 3px 9px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 3px 9px 1px rgba(0,0,0,0.75);
	box-shadow: 0px 3px 9px 1px rgba(0,0,0,0.75);
}
#content{
	padding-top: 65px;
}
#content p{
	font-size: 150%;
    font-family: Arial, Helvetica, sans-serif;
}
#content ul{
	font-size: 40%;
    font-family: Arial, Helvetica, sans-serif;
}
#llamar{
	display: inline-block;
	height: 80px;
	width: 100%;
	color: white;
	background-color: #66ff66;
	font-size: 60px;
	text-align: center;
}
textarea{
	height: 100%;
    width: 100%;
}
#enviar{
	height: 4%;
    width: 30%;
    font-size:100%;
    float:right;
}
#contact{
	margin-top: 10%;
}
ul li{
	font-size: 200%;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
}
#quienes_somos{
	background-color: grey;
}
#contactText{
	height:260px;
	width:99%;
}